.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: cadetblue;

  mat-spinner {
    margin: 20px;
  }

  button {
    margin-right: 10px;
  }
}
.version {
  position: absolute;
  color: #424242;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px;
}
